
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF=8">
    <title>Online Art Gallery Database</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body">

    <button type="button" onclick="location.href='http://flip1.engr.oregonstate.edu:8877'" >HOME</button>

<!-- <script src="./index.js"></script> -->
</body>

</html>