<!DOCTYPE html>
<html>

<head>
  <title>Online Art Gallery Database</title>
  <meta charset="UTF=8">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body" id="searchBody">

  <button class="homeButton" type="button" onclick="location.href='/'">HOME</button>

  <h1>Custom Search:</h1>



  <script src="searchScript.js"></script>
</body>

</html>