<!DOCTYPE html>
<html>

<head>
  <title>Online Art Gallery Database</title>
  <meta charset="UTF=8">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body" id="searchBody">

  <button class="homeButton" type="button" onclick="location.href='/'">HOME</button>

  <h1>Custom Search:</h1>
  <form>
  <fieldset>
    <legend>Search</legend>
    <ul style="list-style-type:none;">
      <li><input type="checkbox" id="customerSearch"> Customer Last Name</input>
      <li><input type="checkbox" id="paintingSearch"> Painting Name</input>
      <li><input type="checkbox" id="orderSearch"> Order ID</input>
    </ul>
    <input type="text" name="searchForm" id="searchForm"></input>
    <br>
    <div id="searchButton">
    </div>
  </fieldset>
  </form>

  <h1>Search Results:</h1>
  <table id="searchTable">
    <thead>
      <tr>
      {{#each dataList}}
      console.log({{@key}});
        <th>{{@key}}</th>
      {{/each}}
      </tr>
    </thead>
    <th></th>
    <th></th>
    
    <tbody>
      {{#each dataList}}
        <tr>
          {{#each this}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  <script src="searchScript.js"></script>
</body>

</html>