.body {
  background-color: rgb(216, 216, 216);
}

.table td{
  text-align: left;
}

table {
  border: 2px solid black;
}

td {
  border: 1px solid black;
}

fieldset {
  background-color: rgb(243, 243, 243);
  width: 400px;
}

legend {
  font-size: 20px;
  font-weight: bold;
}

.homePageButton {
  background-color: rgb(94, 94, 94);
  color: white;
  border: solid;
  border-color: rgb(48, 48, 48);
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  left: 20px;
  position: relative;

}

.homePageButton:hover {
  background-color: rgb(00, 196, 180);;
  color: white;
}

.homeButton {
  background-color: rgb(80, 80, 80);
  color: white;
  border: solid;
  border-color: rgb(48, 48, 48);
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.homeButton:hover {
  background-color: rgb(00, 196, 180);
  color: white;
}

#homePageHeader {
  font-family:Bradley Hand, Florence, serif;
  font-size: 50px;
  text-transform: capitalize;
}

#homePageBody {
  background-image: url('./images/WhiteToLightBlue.jpg');
  background-size: cover;
}

#artistsBody {
  background-image: url('./images/DarkBlueToGreen.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#customersBody {
  background-image: url('./images/lightBlueAndBlue.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#galleriesBody {
  background-image: url('./images/lightGrenToDarkBlue.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#ordersBody {
  background-image: url('./images/pinkAndGreenBlue.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#paintingsBody {
  background-image: url('./images/whiteToDarkBlue.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#searchBody {
  background-image: url('./images/whiteToDarkBlue.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#currentTable {
  background-color: rgb(243, 243, 243);
}